doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title pibrush
    // Bootstrap core CSS
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', rel='stylesheet')
  body
    nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='#') Navbar
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Link
          li.nav-item
            a.nav-link.disabled(href='#') Disabled
          li.nav-item.dropdown
            a#dropdown01.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
            .dropdown-menu(aria-labelledby='dropdown01')
              a.dropdown-item(href='#') Action
              a.dropdown-item(href='#') Another action
              a.dropdown-item(href='#') Something else here
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='text', placeholder='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
    .container
      div
        h1 pibrush
        form.searchform
          .form-group.row
            label.col-sm-2.col-form-label Search for Music
            .col-sm-10
              input#query.form-control(placeholder='Search')
              button.btn.btn-primary(type='submit') Search
      div
        h2.status
        table.table.results(style='width:100%')


    
    script(src='//code.jquery.com/jquery-3.1.1.min.js', type="text/javascript")
    script(src='//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', type="text/javascript")
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', type="text/javascript")
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    //script(src='../../assets/js/ie10-viewport-bug-workaround.js', type="text/javascript")
    script.
      $( document ).ready(function() {

        $( ".searchform" ).submit(function( event ) {
          var query = $('#query').val();
          
          $.post("/search", {
              search: query
          },
          function(data, status){
          if (!$.trim(data)){   
            $('.status').text('No results');
          } else {
            $('.status').empty();
          }
              $('.results').empty();
              $.each(data, function( index, value ) {
              var write = `
                <tr>
                  <td>${value.split('/').pop()}</td>
                  <td><button class="btn btn-primary resultplay" href="#/" data-file="${value}">Button</button></td>
                <tr>
              `;
              	$( ".results" ).append(write);
              }), 
                $(".resultplay").on("click", function(){
                    var file = $(this).data('file');
                    $.post("/play", {'file': file}, function(data, status){
                        $('.status').text(status);
                    });
              });

          });
          
          event.preventDefault();
        });
        
      });